body{
    .arrow{
        width: 3px;
        height: 3px;
    
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
        border-bottom: 30px solid black;

        
    }
    
}